In [2]:
# Removemos o arquivo do banco de dados caso exista
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [3]:
import sqlite3

In [4]:
# Cria a conexão com o banco de dados, caso ele não exista, será criado agora.
con = sqlite3.connect('escola.db')

In [5]:
type(con)

sqlite3.Connection

In [6]:
# Agora vamos instalar o cursor que permite percorrer os registros do banco
cur = con.cursor()

In [7]:
type(cur)

sqlite3.Cursor

In [10]:
# Agora vamos criar uma instrução SQL

sql_create = '''CREATE TABLE cursos(
    id INTEGER PRIMARY KEY,
    titulo VARCHAR(100),
    categoria VARCHAR(140)
);'''

In [9]:
# Executando a instrução
cur.execute(sql_create)

In [11]:
# Vamos inserir dados (Tipo DML)
sql_insert = 'INSERT INTO cursos (id, titulo, categoria) VALUES (?, ?, ?);'

In [12]:
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

In [13]:
# Inserindo agora os registros

for rec in recset:
    cur.execute(sql_insert, rec)

In [14]:
# Grava a transação
con.commit()

In [16]:
# Criando uma query SQL para buscar os dados da tabela cursos
sql_select = 'SELECT * FROM cursos;'

In [22]:
# Seleciona todos os registros e recura os arquivos

cur.execute(sql_select)
dados = cur.fetchall()

In [21]:
# Mostra os dados
for linha in dados:
    print(linha)
    print('Curso Id: %d, Título: %s, Categoria: %s\n' % linha)

(1000, 'Ciência de Dados', 'Data Science')
Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

(1001, 'Big Data Fundamentos', 'Big Data')
Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

(1002, 'Python Fundamentos', 'Análise de Dados')
Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [23]:
# Gerando mais registros

recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

# Inserindo registros
for rec in recset:
    cur.execute(sql_insert, rec)
    
# Gravando a transação
con.commit()

In [25]:
cur.execute('SELECT * FROM cursos')
dados = cur.fetchall()

# Mostra os dados
for linha in dados:
    print(linha)
    print('Curso Id: %d, Título: %s, Categoria: %s\n' % linha)

(1000, 'Ciência de Dados', 'Data Science')
Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

(1001, 'Big Data Fundamentos', 'Big Data')
Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

(1002, 'Python Fundamentos', 'Análise de Dados')
Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

(1003, 'Gestão de Dados com MongoDB', 'Big Data')
Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

(1004, 'R Fundamentos', 'Análise de Dados')
Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [ ]:
# Fechando tudo

cur.close()
con.close()