In [1]:
from pandas import Series

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.0.1'

In [4]:
# Não adicionamos o índice, logo o pandas criará a indexação para nós
Obj = Series([67, 78, -56, 13])

In [5]:
Obj

0    67
1    78
2   -56
3    13
dtype: int64

In [6]:
type(Obj)

pandas.core.series.Series

In [9]:
Obj.values

array([ 67,  78, -56,  13], dtype=int64)

In [12]:
Obj.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
# Dessa vez passamos os índices
Obj2 = Series([67, 78, -56, 13], index=['a', 'b', 'c', 'd'])

In [16]:
Obj2

a    67
b    78
c   -56
d    13
dtype: int64

In [18]:
Obj2.values

array([ 67,  78, -56,  13], dtype=int64)

In [19]:
Obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [20]:
Obj2[Obj2 > 3]

a    67
b    78
d    13
dtype: int64

In [21]:
Obj2['b']

78

In [22]:
'd' in Obj2

True

In [23]:
dict = {'Futebol': 5200, 'Tenis': 120, 'Natação': 698, 'Volleyball': 1550}

In [25]:
Obj3 = Series(dict)

In [26]:
Obj3

Futebol       5200
Tenis          120
Natação        698
Volleyball    1550
dtype: int64

In [30]:
type(Obj3)

pandas.core.series.Series

In [35]:
esportes = ['Futebol', 'Tenis', 'Natação', 'Baskteball']

In [36]:
Obj4 = Series(dict, index=esportes)

In [37]:
Obj4

Futebol       5200.0
Tenis          120.0
Natação        698.0
Baskteball       NaN
dtype: float64

In [38]:
pd.isnull(Obj4)

Futebol       False
Tenis         False
Natação       False
Baskteball     True
dtype: bool

In [39]:
pd.notnull(Obj4)

Futebol        True
Tenis          True
Natação        True
Baskteball    False
dtype: bool

In [40]:
Obj4.isnull()

Futebol       False
Tenis         False
Natação       False
Baskteball     True
dtype: bool

In [41]:
Obj3 + Obj4

Baskteball        NaN
Futebol       10400.0
Natação        1396.0
Tenis           240.0
Volleyball        NaN
dtype: float64

In [44]:
Obj4.name = 'população'
Obj4.index.name = 'esporte'

In [46]:
Obj4

esporte
Futebol       5200.0
Tenis          120.0
Natação        698.0
Baskteball       NaN
Name: população, dtype: float64